<div class="nav-container">
  <a href="/">make a post</a>
  <a href="/posts">see all posts</a>
  <a href="https://github.com/samheckle/networked-media-fa-24/tree/main/starter/class12-starter">starter code</a>
</div>
